body{
    text-align: center;
    background-color:#69110E;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho{
    height: 100px;
    max-width: 210vh;
    background-color: #030E2E;
    border-style: double;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho2{
    margin-top: -110px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.diretora{
	float: left;
}

.capa img{
	margin-left: -200px;
	margin-top: 40px;
}

.noticurio2{
	width: 100vh;
	height: 64vh;
	background-color: #030E2E;
	float: left;
}

.diretora2{
	width: 100vh;
	height: 64vh;
	background-color: #030E2E;
	float: left;
	margin-left: 90px;
}

.trabaio{
    width: 100vh;
    height: 30vh;
    background-color: #030E2E;
    margin-left: 500px;
    margin-top: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elenquin{
    width: 50vh;
    height: 17vh;
    background-color: #030E2E;
    margin-left: 700px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
	color: black;
}

.elencoo{
	height: 100px;
        width: 178vh;
        margin-left: 90px ;
        background-color: #030E2E;
        border-style: double;
        display: flex;
        align-items: center;
        justify-content: center;
}
.nomes{
	margin-right: 50px;
}

.song{
	width: 90vh;
	height: 79vh;
	background-color: #030E2E;
	float: left;
	font-size: 16px;
	margin-left: 45px;

}

.jeon{
	width: 90vh;
	height: 79vh;
	background-color: #030E2E;
	float: left;
	margin-left: 90px;
	font-size: 16px;
	mergin-left: 60px;
}

.byung{
	width: 90vh;
	height: 79vh;
	background-color: #030E2E;
	float: left;
	margin-left: 90px;
	font-size: 16px;
	margin-left: 45px;
	margin-top: 30px;
}

.kwak{
	width: 90vh;
	height: 79vh;
	background-color: #030E2E;
	float: left;
	margin-left: 90px;
	margin-top: 30px;
	font-size: 16px;

}

.taec{
	width: 90vh;
	height: 79vh;
	background-color: #030E2E;
	float: left;
	margin-left: 90px;
	font-size: 16px;
	margin-left: 45px;
	margin-top: 30px;
}

.yeo{
	width: 90vh;
	height: 79vh;
	background-color: #030E2E;
	float: left;
	margin-left: 90px;
	margin-top: 30px;
	font-size: 16px;

}

.han{
	width: 90vh;
	height: 79vh;
	background-color: #030E2E;
	float: left;
	margin-left: 90px;
	font-size: 16px;
	margin-left: 45px;
	margin-top: 30px;
}

.soo{
	width: 90vh;
	height: 79vh;
	background-color: #030E2E;
	float: left;
	margin-left: 90px;
	margin-top: 30px;
	font-size: 16px;

}

.topinn{
    margin-top: 2200px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.sinoopse{
    width: 210.5vh;
    height: 45vh;
    background-color: #030E2E;
    justify-content: center;
    align-items: center;
}

footer{
	border-style: double;
	border-color: #030E2E;
}